<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Playing OOP_x_nimmt</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <aside class="score">
      <div class="playerScoreBoard indexScoreBoard">
        <div class="playerName indexName">Name</div>
        <div class="playerScore indexScore">Score</div>
      </div>
      <% for(let i = 0; i < totalPlayerNum; i++) { %>
        <div class="playerScoreBoard">
          <div class="playerName"><%= playerName[i] %></div>
          <div class="playerScore"><%= playerPoint[i] %></div>
        </div>
      <% } %>
    </aside>
    <main class="main">
      <div class="mainWrap">
        <form class="boardForm" action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="0"/>
          <button class="boardBtn" type="submit">
            <section class="boardA board">
              <% for(let i = 0; i < 5; i++) { %>
                <% if(board[0][i]) { %>
                  <article class="boardBox">
                    <div class="card">
                      <div class="cardPoint"><%= board[0][i].point %></div>
                      <div class="cardNum"><%= board[0][i].number %></div>
                    </div>
                  </article>
                <% } %>
              <% } %>
            </section>
          </button>
        </form>
        <form class="boardForm" action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="1"/>
          <button class="boardBtn" type="submit">
            <section class="boardB board">
              <% for(let i = 0; i < 5; i++) { %>
                <% if(board[1][i]) { %>
                  <article class="boardBox">
                    <div class="card">
                      <div class="cardPoint"><%= board[1][i].point %></div>
                      <div class="cardNum"><%= board[1][i].number %></div>
                    </div>
                  </article>
                <% } %>
              <% } %>
            </section>
          </button>
        </form>
        <form class="boardForm" action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="2"/>
          <button class="boardBtn" type="submit">
            <section class="boardC board">
              <% for(let i = 0; i < 5; i++) { %>
                <% if(board[2][i]) { %>
                <article class="boardBox">
                  <div class="card">
                    <div class="cardPoint"><%= board[2][i].point %></div>
                    <div class="cardNum"><%= board[2][i].number %></div>
                  </div>
                </article>
                <% } %>
              <% } %>
            </section>
          </button>
        </form>
        <form class="boardForm" action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="3"/>
          <button class="boardBtn" type="submit">
            <section class="boardD board">
              <% for(let i = 0; i < 5; i++) { %>
                <% if(board[3][i]) { %>
                  <article class="boardBox">
                  <div class="card">
                    <div class="cardPoint"><%= board[3][i].point %></div>
                    <div class="cardNum"><%= board[3][i].number %></div>
                  </div>
                  </article>
                <% } %>
              <% } %>
            </section>
          </button>
        </form>
      </div>
    </main>
    <aside class="table">
      <% if (state != totalPlayerNum+1){ %>
        <% for (let i = 0; i < totalPlayerNum-state+1; i++) { %>
        <div class="card">
          <div class="cardPoint"><%= selectedCard[i].point %></div>
          <div class="cardNum"><%= selectedCard[i].number %></div>
        </div>
        <% } %>
      <% } %>
    </aside>
    <div class="hand">
      <% for (let i = 0; i < playerHand.length; i++){ %>
      <form class="cardForm" action="/choice" method="POST">
        <input class="hide" type="number" name="selectedCardNumber" value="<%= i %>"/>
        <button class="cardBtn" type="submit">
          <div class="card">
            <div class="cardPoint"><%= playerHand[i].point %></div>
            <div class="cardNum"><%= playerHand[i].number %></div>
          </div>
        </button>
      </form>
      <% } %>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function () {
      var socket = io()
      $('.cardBtn').click(function(e) {
        e.preventDefault()
        socket.emit('refresh')
        document.querySelector(".cardForm").submit()
        setTimeout(function (){
          socket.emit('refresh')
        }, 500)
      return false
      })

      $('.boardBtn').click(function(e) {
        e.preventDefault()
        socket.emit('refresh')
        document.querySelector(".boardForm").submit()
        setTimeout(function (){
          socket.emit('refresh')
        }, 500)
        return false
      })

      socket.on('refresh', function(){
      location.reload()
      })
    })
  </script>
</html>
