<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Playing OOP_x_nimmt</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <aside class="score">
      <div class="playerScoreBoard indexScoreBoard">
        <div class="playerName indexName">Name</div>
        <div class="playerScore indexScore">Score</div>
      </div>
      <% for(let i = 0; i < totalPlayerNum; i++) { %>
        <div class="playerScoreBoard">
          <div class="playerName"><%= playerName[i] %></div>
          <div class="playerScore"><%= playerPoint[i] %></div>
        </div>
      <% } %>
    </aside>
    <main class="main">
      <div class="mainWrap">
        <form action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="0"/>
          <button class="boardBtn" type="submit">
            <section class="boardA board">
              <article class="boardA0">
                <div class="card">
                  <div class="cardPoint"><%= board[0][0].point %></div>
                  <div class="cardNum"><%= board[0][0].number %></div>
                </div>
              </article>
              <article class="boardA1"></article>
              <article class="boardA2"></article>
              <article class="boardA3"></article>
              <article class="boardA4"></article>
            </section>
          </button>
        </form>
        <form action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="1"/>
          <button class="boardBtn" type="submit">
            <section class="boardB board">
              <article class="boardB0">
                <div class="card">
                  <div class="cardPoint"><%= board[1][0].point %></div>
                  <div class="cardNum"><%= board[1][0].number %></div>
                </div>
              </article>
              <article class="boardB1"></article>
              <article class="boardB2"></article>
              <article class="boardB3"></article>
              <article class="boardB4"></article>
            </section>
          </button>
        </form>
        <form action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="2"/>
          <button class="boardBtn" type="submit">
            <section class="boardC board">
              <article class="boardC0">
                <div class="card">
                  <div class="cardPoint"><%= board[2][0].point %></div>
                  <div class="cardNum"><%= board[2][0].number %></div>
                </div>
              </article>
              <article class="boardC1"></article>
              <article class="boardC2"></article>
              <article class="boardC3"></article>
              <article class="boardC4"></article>
            </section>
          </button>
        </form>
        <form action="/select" method="POST">
          <input class="hide" type="number" name="listIndex" value="3"/>
          <button class="boardBtn" type="submit">
            <section class="boardD board">
              <article class="boardD0">
                <div class="card">
                  <div class="cardPoint"><%= board[3][0].point %></div>
                  <div class="cardNum"><%= board[3][0].number %></div>
                </div>
              </article>
              <article class="boardD1"></article>
              <article class="boardD2"></article>
              <article class="boardD3"></article>
              <article class="boardD4"></article>
            </section>
          </button>
        </form>
      </div>
    </main>
    <aside class="table">
    </aside>
    <div class="hand">
      <% for (let i = 0; i < 10; i++){ %>
      <form action="/choice" method="POST">
        <input class="hide" type="number" name="seletedCardNum" value="<%= i %>"/>
        <button class="cardBtn" type="submit">
          <div class="card">
            <div class="cardPoint"><%= playerHand[i].point %></div>
            <div class="cardNum"><%= playerHand[i].number %></div>
          </div>
        </button>
      </form>
      <% } %>
    </div>
  </body>
</html>
